
<div class="row">
    <div class="col m6 waves-effect  wordpanel  blue-grey lighten-5" ng-click="vote(word1)">

        <h1 class="word"><div ng-show="loading" class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
            </div>
        </div>{{word1.word}}</h1>  </div>
    <div class="col m6 waves-effect wordpanel blue-grey lighten-3" ng-click="vote(word2)"><h1 class="word"><div ng-show="loading" class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div><div class="gap-patch">
            <div class="circle"></div>
        </div><div class="circle-clipper right">
            <div class="circle"></div>
        </div>
        </div>
    </div>{{word2.word}}</h1>  </div>



</div>



